body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Tiro Telugu', serif;
}

a {
    color: white;
    text-decoration: none;
}

label {
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.header-signup b {
    color: white;
    
}

.wrapper {
    width: 100%;
    height: 100%;

}

.header {
    width: 100%;
    max-width: 1600px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid white;
}

.header-logo__image {
    cursor: pointer;
    margin: 6px 15px;
    width: 90px;
}

.header-signup {
    flex-direction: column;
    text-align: center;
    margin: 0px 15px;
}

.header-favourites img {
    margin-right: 20px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.header-nav__navigation:not(first-child) {
    margin-right: 24px;
}

.header-nav__navigation {
    font-size: 21px;
}

.header-nav__navigation:hover {
    text-decoration: underline;
}

.header-signup__register a {
    font-size: 20px;
}

.wrapper-block {
    background-color: #1E1A1A;
    width: 100%;
    max-width: 1600px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}



.wrapper-block__sidebar {
    width: 13%;
    
}

.wrapper-block__content {
    
    width: 86%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px;
}

.card-block {
    margin: 10px 50px 5px 0px;
}

.wrapper-block__sidebar-menu li {
    color: white;
    list-style: none;
    text-align: center;
    margin: 10px 0px 15px 0px;
}

.wrapper-block__sidebar-menu {
    display: flex;
    flex-direction: column;
}

.wrapper-block__sidebar__block1 {
    margin-bottom: 10px;
    margin-left: 10px;
}

.card {
    border: 3px solid black;
    border-radius: 8px;
    width: 200px;
    height: 260px;
    background-color: white;
}

.card-title {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 5px;
}

.card-image img{
    width: 90%;
    margin-left: 10px;
}

.card-weight {
    font-weight: 600;
    margin-right: 10px;
}

.card-price {
    font-weight: 600;

}

.card-footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card-btn {
    border: 2px solid #1E1A1A;
    border-radius: 7px;
    background: white;
    font-size: 15px;
    font-weight: 600;
    padding: 3px 15px;
    margin-left: 50px;
    transition: 0.5s;
}

.card-btn:hover {
    background: black;
    color: white;
    transition: 0.5s;
}

@media(max-width: 917px) {
    .wrapper-block__sidebar{
        width: 20%;
    }

    .wrapper-block__content {
        width: 70%;
    }
}

@media(max-width: 761px) {
    .card {
        width: 150px;
        height: 230px;
    }
    .card-title {
        font-size: 14px;
    }
    .card-weight {
        font-size: 14px;
    }
    .card-price {
        font-size: 14px;
    }
    .card-btn {
        margin-left: 30px;
        font-size: 14px;
    }
    
}

@media(max-width: 617px) {
    .header-logo__image {
        width: 60px;
        height: 50px;
    }    
    .header-nav__navigation {
        font-size: 16px;
    }
    .header-signup__register a {
        font-size: 14px;
    }
    
}

@media(max-width: 452px) {
    .header-nav__navigation {
        font-size: 13px;
    }
    .header-logo__image {
        width: 30px;
        height: 20px;
    } 
    .header-favourites img {
        width: 24px;
        height: 24px;
    }
    .header-signup__register a {
        font-size: 12px;
    }
    .card {
        width: 130px;
        height: 200px;
    }
    .card-title {
        font-size: 12px;
    }
    .card-weight {
        font-size: 12px;
    }
    .card-price {
        font-size: 12px;
    }
    .card-btn {
        margin-left: 30px;
        font-size: 12px;
    }
    .card-btn {
        margin-left: 30px;
        padding: 0 5px;
        font-size: 14px;
    }
    .wrapper-block__sidebar_element {
        font-size: 13px;
    }
    .counter-radius {
        display: none;
    }
}

@media(max-width: 373px) {
    .header-nav__navigation {
        font-size: 10px;
    }
    .wrapper-block__sidebar_element {
        font-size: 10px;
    }
    .card {
        width: 110px;
        height: 175px; 
    }
    .card-btn {
        margin-left: 26px;
        padding: 2 7px;
        font-size: 10px;
    }
    .card-title {
        font-size: 10px;
    }
    .card-weight {
        font-size: 10px;
    }
    .card-price {
        font-size: 10px;
    }
}

@media(max-width: 855px) {
    .wrapper-block__sidebar__block1 {
        font-size: 14px;
    }

    .wrapper-block__sidebar{
        width: 20%;
    }

    .wrapper-block__content {
        width: 70%;
    }
}

.counter-radius {
    color: white;
    border: 1px solid red;
    border-radius: 50%;
    width: 18px;
    height: 16px;
    font-size: 10px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.modal.active {
    display: block;
}

.modal-body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: absolute;
    top: 60px;
    right: 0;
    width: 450px;
    height: 240px;
    background: white;
    border-radius: 7px;
    box-sizing: border-box;
}

.modal-global_block {
    display: flex;
}

.modal-block {
    position: absolute;
    top: 40px;
    right: 0;
    display: flex;
    align-items: center;
    width: 300px;
}

.modal-block div {
    width: 110px;
    height: 40px;
    text-align: center;
}

.btn {
    position: absolute;
    top: 160px;
    right: 50px;
    width: 180px;
}

.modal-close {
    cursor: pointer;
}